<%#-for article in @hottest_topics %>
<div class="row">
	<div class="col-md-12">
    <h1 class="page-header">
        MyBlog
        <small>Source of wisedom!</small>
    </h1>
		<%-for article in @articles %>
			<h2>
	     <%= link_to article.title, article %>
	 	</h2>
	 	<p class="lead">
	     by <%= User.exists?(article.user) ? article.user.try(:name) : 'deleted user' %>
	 	</p>
	 	<p><span class="glyphicon glyphicon-time"></span> <%= article.created_at.to_formatted_s(:long_ordinal) %></p>
	 	<hr>
	 	<div class='article-image'>
			<%= image_tag article.image.blank? ? 'http://placehold.it/900x300' : article.image, class: 'img-responsive' %>
	 	</div>									
	 	<hr>
	 	<%= truncate raw(CGI.unescapeHTML(article.content)), lenght: 90 %>	 	
	 	<%= link_to 'read more', article, class: 'btn btn-primary' %>
	 	<%= render "article_owner_actions", {article: article} %>
	 	<hr>	
		<% end %>    

	</div>   
 </div>
 
