<div class="row">
  <div class="col-lg-12">
    <h1><%= @article.title %></h1>
    <p class="lead">
      by <a href="#"><%= @article.user.name %></a>
    </p>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span> Published on <%= @article.publication_date %></p>
    <hr>
    <%= image_tag @article.image.blank? ? 'http://placehold.it/900x300' : @article.image, class: 'img-responsive' %>
    <hr>
    <p class="lead"><%=raw @article.content %></p>
    <hr>
    <div><%= render "article_owner_actions", {article: @article} %></div>
    <hr>
    <div class="well">
      <% if user_signed_in? %>
        <h4>Leave a Comment:</h4>
        
        <%= form_for [@article, Comment.new] do |f| %>
          <%=f.text_area :content, class: 'form-control', placeholder: 'add comment' %>
          <%=f.submit'Save', class:'btn btn-success' %>
        <% end %>

      <% else %>
        <center>
          <%= link_to 'sign in/up to publish comments', new_user_session_path, class: 'btn btn-primary' %>
        </center>
      <% end %>
    </div>
    
    <hr>
    <%- unless @article.comments.empty? %>
      <% if user_signed_in? && current_user.owns_article?(@article) %>
        <%= render @article.comments %> <!-- seul l'auteur peut accéder à tous les commentaires -->
      <% else %>
        <%= render @article.comments.approved %> 
      <% end %>
    <% else %>
      <b>No comments, yet</b>
    <% end %>

  </div>            
</div>